<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
</head>

<body>
    <form action="" method="get">
        <label for="title">
            <input type="text" name="title" value=<%= book.title %>>
        </label>
        <label for="author">
            <input type="text" name="author" value=<%= book.author %>>
        </label>
        <label for="ISBN">
            <input type="text" name="isbn" value=<%= book.isbn %>>
        </label>
        <label for="URL">
            <input type="text" name="url" value=<%= book.image %>>
        </label>
        <label for="description">
            <input type="text" name="description" value=<%= book.desc %>>
        </label>
        <label for="bookshelf">
            <input type="text" name="bookshelf" id="">
        </label>
        <button>Add to DataBase</button>
    </form>
</body>

</html>