<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
</head>

<body>
    <main>
        <ul>
            <% books.forEach(book => { %>
                <li>
                    <div>
                        <%= book.title %>
                    </div>
                    <div><img src=<%=book.image %>></div>
                    <div>
                        <%= book.authors %>
                    </div>
                    <div>
                        <%= book.ISBN %>
                    </div>
                    <div>
                        <%= book.description %>
                    </div>
                </li>
                <div>
                    <form action="/select" method="post">
                        <button type="submit">SELECT</button>
                    </form>
                </div>
                <% }) %>
        </ul>
    </main>
    <script src="server.js"></script>
</body>

</html>