<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <main>

        <ul>
            <% books.forEach(book => { %>

            <li>
                <div><%= book.title %></div>
                <div><img src=<%= book.image %>></div>
                <div><%= book.authors%></div>
                <div><%= book.ISBN%></div>
                <div><%= book.description%></div>
                <div>
                    <form action="/selectform" method="post">
                        <button type="submit">SELECT</button>
                        <input type="text" name="title" value="<%= book.title%>">
                        <input type="text" name="authors" value="<%= book.authors%>">
                        <input type="text" name="isbn" value="<%= book.ISBN%>">
                        <input type="text" name="description" value="<%= book.description%>">
                    </form>
                </div>
            </li>

            <% }) %>
        </ul>
    </main>
    <script src="server.js"></script>
</body>

</html>